/* Fonts**-------------------------- */

@font-face {
    font-family: "Tomorrow";
    src: url("/fonts/Tomorrow.TTF") format("truetype");
     font-display: swap; 
}
/* Tommorrow------------------ */

@font-face {
    font-family: "TomorrowBold";
    src: url("/fonts/Tomorrow_bold.TTF") format("truetype");
     font-display: swap; 
}
/* Tommorrow Bold------------------ */

@font-face {
    font-family: "StrongArm";
    src: url("/fonts/Strongarm.woff2") format("woff2");
}
/* StrongArm------------------------------- */

@font-face {
    font-family: "StrongBox";
    src: url("/fonts/strongbox.ttf") format("truetype");
}
/* StrongBox-------------------------------- */

@font-face {
    font-family: "Outfit";
    src: url("/fonts/outfit.TTF") format("truetype");
     font-display: swap; 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
    scroll-behavior: smooth;
}
/* 
html,
body {
  overscroll-behavior-y: contain;
} */