.contact {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--softGreen);
  left: 0%;
  top: 0%;
  overflow: hidden;
  z-index: 100;
  transition: 200ms ease-in-out;
}

.contact_container {
  position: relative;
  width: 50rem;
  height: 28.125rem;
  background-color: var(--cream);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 8px 16px rgba(0,0,0,0.7);
}

.contact_form_container {
  width: 31.25rem;
  height: 100%;
  padding: 2rem;
}

.contact_right_block {
  position: relative;
  width: 18.75rem;
  height: 100%;
  background-color: var(--forrestGreen);
  border-radius: 0 15px 15px 0;
}

.contact_ele_container {
  width: 23.438rem;
  height: 18.75rem;
  background-color: var(--darkGreen);
  position: absolute;
  right: 0;
  border-radius: 15px 0 0 15px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.contact_form_container h2,
.contact_ele_container h2 {
  font-family: var(--strongArm);
  font-size: var(--font48px);
  color: var(--darkGreen);
}

.form_details {
  padding: 1rem 0 1rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
  width: 100%;
}

.form_details p {
  font-family: var(--strongBox);
  font-size: var(--font20px);
  color: var(--darkGreen);
}

.form_details form {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.form_details form input,
textarea {
  width: 70%;
  background: none;
  outline: none;
  border: none;
  border-bottom: 2px solid var(--darkGreen);
  font-family: var(--strongBox);
  font-size: var(--font24px);
  color: var(--forrestGreen);
  padding: 0.5rem 0;
  transition: 100ms ease-in-out;
}

.form_details form input:focus,
textarea:focus {
  font-size: var(--font20px);
}

.contact_right_block button {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.625rem 1.563rem;
  margin: 1rem;
  border: none;
  border-radius: 0.5rem;
  font-family: var(--strongBox);
  font-size: var(--font20px);
  background-color: var(--darkGreen);
  color: var(--cream);
  cursor: pointer;
  box-shadow: 2px 2px 4px  rgba(0,0,0,0.5);
}

#close{
  padding: 0;
  bottom: auto;
  top: 0;
  background: none;
  box-shadow: 0 0 0 rgba(0,0,0,0);
  margin: 1.5rem;
  transition: 200ms ease-in-out;
}

#close img{
  width: 1.5rem;
}

#close:hover{
  transform: rotate(180deg) scale(0.8);
}
/* ---------------------------------------------------- */

.contact_ele_container h2 {
  color: var(--cream);
}

.contact_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 100%;
}
.contact_email,
.contact_phone {
  width: 18.75rem;
  height: 4.375rem;
  background-color: var(--forrestGreen);
  border: 2px solid var(--cream);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.7rem;
  padding: 0 0.5rem;
}

.contact_list img{
  width: 4rem;
}

.contact_list .details {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 0.1rem;
}

.contact_list .details h5 {
  font-family: var(--strongBox);
  font-size: var(--font16px);
  color: var(--cream);
}

.contact_list .details p {
  font-family: var(--Outfit);
  font-size: var(--font16px);
  color: var(--darkGreen);
}

.contact_list_mobile{
  display: none;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.contact_list_mobile img{
  width: 100%;
}
.contact_list_mobile .contact_email,
.contact_list_mobile .contact_phone {
  width: 4rem;
  height: 4rem;
}

/* ------------------------------------------------- */
.wheels {
  position: absolute;
  width: 11%;
  animation: wheelCar 5s ease-in-out infinite;
}

.wheels img {
  width: 100%;
}

@keyframes wheelCar {
  0% {
    top: 0%;
    left: 0%;
    transform: translate(0, 0%) rotate(0deg);
  }
  20% {
    top: 100%;
    left: 0%;
    transform: translate(0, -100%) rotate(360deg);
  }
  50% {
    top: 100%;
    left: 100%;
    transform: translate(-100%, -100%) rotate(0deg);
  }
  70% {
    top: 0%;
    left: 100%;
    transform: translate(-100%, 0%) rotate(360deg);
  }
  100% {
   top: 0%;
    left: 0%;
    transform: translate(0%, 0%) rotate(0deg);
  }
}


/* -------------------------------------------------- */

@media screen and (max-width: 825px) {
  .wheels {
  width: 15%;
}
  .contact_container {
    width: 70%;
    height: 70%;
    flex-direction: column;
  }
  .contact_right_block{
    width: 100%;
    height: 50%;
    border-radius: 0 0 15px 15px;
  }
  .contact_ele_container{
    right: auto;
    bottom: 0;
    height: 45%;
    width: 70%;
    border-radius: 15px 15px 0 0;
    gap: 2;
    padding: 4rem;
  }
  .contact_right_block button {
    bottom: auto;
    top: -80%;
  }
}

@media screen and (max-width: 770px) {
  .form_details form input,
textarea {
  width: 80%;
  font-size: var(--font20px);
  padding: 0.35rem 0;
}
.contact_right_block button {
    bottom: auto;
    top: -70%;
    font-size: var(--font20px);
    padding: 7px 15px;
  }
}

@media screen and (max-width: 750px) and (max-height: 750px){
  .wheels {
  width: 18%;
}
.contact_container {
    transform: scale(0.9);
  }
  .contact_form_container{
    width: 100%;
    height: 70%;
  }
  
.contact_form_container h2,
.contact_ele_container h2 {
  font-size: var(--font36px);
}
.form_details {
  padding: 0.5rem;
  gap: 1rem;
}
.form_details p {
  font-size: var(--font16px);
}

.form_details form input,
textarea {
  width: 80%;
  font-size: var(--font16px);
  padding: 0.2rem 0;
}
 .contact_ele_container{
    height: 38%;
    width: 70%;
    gap: 2;
    padding: 2rem;
  }
  .contact_list{
    display: none;
  }
  .contact_list_mobile{
    display: flex;
  }
  .contact_right_block button {
    bottom: auto;
    top: -50%;
    font-size: var(--font12px);
    padding: 7px 15px;
  }
}

@media screen and (max-width: 450px){
  .wheels {
  width: 20%;
}
.contact_container {
    transform: scale(0.9);
  }
  .contact_form_container{
    width: 100%;
    height: 70%;
  }
  
.contact_form_container h2,
.contact_ele_container h2 {
  font-size: var(--font36px);
}
.form_details {
  padding: 0.5rem;
  gap: 1rem;
}
.form_details p {
  font-size: var(--font16px);
}

.form_details form input,
textarea {
  width: 80%;
  font-size: var(--font16px);
  padding: 0.2rem 0;
}
 .contact_ele_container{
    height: 45%;
    width: 70%;
    gap: 2;
    padding: 2rem;
    justify-content: space-evenly;
  }
  .contact_list{
    display: none;
  }
  .contact_list_mobile{
    display: flex;
    flex-wrap: wrap;
    width: 130%;
  }
  .contact_right_block button {
    bottom: auto;
    top: -35%;
    font-size: var(--font12px);
    padding: 7px 15px;
  }
 .contact_list_mobile .contact_email,
.contact_list_mobile .contact_phone {
  width: 4rem;
  height: 4rem;
}
}

@media screen and (max-width: 450px) and (max-height: 750px){
  .contact_form_container h2,
.contact_ele_container h2 {
  font-size: var(--font28px);
}
.form_details p {
  width: 110%;
  font-size: var(--font14px);
}
.form_details form input,
textarea {
  width: 75%;
  font-size: var(--font14px);
  padding: 0.2rem 0;
}
 .contact_list_mobile .contact_email,
.contact_list_mobile .contact_phone {
  width: 3.5rem;
  height: 3.5rem;
}
.contact_right_block button {
    bottom: auto;
    top: -40%;
    font-size: var(--font10px);
    padding: 7px 15px;
  }
}