

.loader{
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: var(--softGreen);
  display: flex;
  align-items: center;
  justify-content: center;
    overflow: hidden;
    transition: 200ms ease-in-out;
}

.loader_content{
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loader_content h1{
  font-family: var(--strongArm);
  font-size: 8vw;
  color: var(--darkGreen);
  text-align: center;
}

.loader_content h3{
  font-family: var(--strongArm);
  font-size: 4vw;
  color: var(--darkGreen);
  text-align: center;
}

.loader_content p{
   font-family: var(--strongBox);
  font-size: var(--font48px);
  color: var(--darkGreen);
  text-align: center;
}

.loader .illustration{
  position: relative;
  animation: bounce 2s ease-in-out;
  height: 90vh;
}

@keyframes bounce{
  0%{
      top: -100%;
  }
  30%{
    top: 0;
  }
  50%{
    top: -30%;
  }
  65%{
    top: 0;
  }
  80%{
    top: -15%;
  }
  88%{
    top: 0;
  }
  93%{
    top: -2%;
  }
  100%{
    top: 0;
  }
}

.loader .logo{
  position:absolute;
  bottom: 2rem;
  right: 2rem;
  width: 10vw;
  z-index: 1;
}

@media only screen and (max-width: 1024px) {
  .loader_content p{
  font-size: var(--font36px);
}
.loader .illustration{
  transform: rotate(180deg);
  height: 65vh;
  animation: slide 2.5s ease-in-out infinite;
}

@keyframes slide{
  0%{
    transform: translateX(-70%) rotate(180deg);
  }
  
  50%{
    transform: translateX(70%) rotate(180deg);
  }
   100%{
    transform: translateX(-70%) rotate(180deg);
  }
}

}

@media only screen and (max-width: 435px) {
  .loader_content h1{
  font-size: 10vw;
}

.loader_content h3{
  font-size: 6vw;
}
  .loader_content p{
  font-size: var(--font24px);
}
.loader .illustration{
  height: 50vh;
}
}
